.total {
  width: 1928px;
  height: 950px;
  background: #f5eeee;
  border: 1px solid #f5eeee;
}
/* #FF8B37;*/
img {
  width: 700px;
}
.cont_tot {
  width: 1427px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
}

.thin {
  margin: 0 auto;
  margin-top: 20px;
}
.score {
  font-size: 50px;
  color: grey;
}
.cen {
  margin-top: -50px;
  font-size: 80px;
}

.total_btn {
  width: 340px;
  height: 70px;
  border-radius: 20px;
  background: #ff8b37;
  border: 0px;
  color: #fff;
  font-size: 30px;
}
